@model BookingAppStore.Models.Book

@{
    ViewBag.Title = "GetBook";
}

<h2>GetBook</h2>

@Html.DisplayFor(m => m.Name) <br />
@Html.DisplayFor(m => m.Author) <br/>
@Html.DisplayFor(m => m.Price) <br />

                               <br />
                               <hr />
@Html.DisplayForModel()
