@{
    ViewBag.Title = "Home Page";
}



<div>
    <h3>Распродажа книг</h3>
    <table>
        <tr>
            <th><p>Название книги</p></th>
            <th><p>Автор</p></th>
            <th><p>Цена</p></th>
        </tr>
        @foreach (var b in ViewBag.Books)
        {
            <tr>
                <td><p>@b.Name</p></td>
                <td><p>@b.Author</p></td>
                <td><p>@b.Price</p></td>
            </tr>
        }
    </table>
</div>